* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rubik', sans-serif;
}

body {
  background: #202020;
}

a {
  color: #48bb78;
}

.bg-opacity-10 {
  --bg-opacity: 0.1;
}