@import 'tailwindcss';

* {
	@apply subpixel-antialiased;
}

body {
	@apply bg-white;
}

.manrope {
	font-family: 'Manrope', sans-serif;
	font-optical-sizing: auto;
}

.rubik {
	font-family: 'Rubik', sans-serif;
	font-optical-sizing: auto;
}

.aleo {
	font-family: 'Aleo', serif;
	font-optical-sizing: auto;
}
